h2 {
  padding-bottom: 50px;
  font-family: 'Yaldevi', sans-serif;
  font-weight: bold;
  text-align: left;
}

.container {
  text-align: center;
}

.img {
  height: 150px;
  width: 220px;
  margin: 30px 20px 30px 20px;
  float: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}
#sum-price {
  font-family: arial, sans-serif;
  font-weight: bold;
}

.jumbotron {
  background-color: #F5F5DC;
  width: fit-content;
  display: inline-block;
}

.quantityButton {
background-color: #556B2F;
  color: #F5F5DC;
}

#checkoutButton {
  float: right;
  margin-top: 40px;
}

.chart-products {
  font-family: 'Yaldevi', sans-serif;
  font-size: large;
  width: 120px;
  float: right;
  margin-top: 80px;
}
.btn-sm.btn-danger.delete-chart {
  float: right;
  margin-top: 55px;
}
