<div class="container">
  <div class="jumbotron">
    <h1><i class="fas fa-seedling"></i> PlantMilk</h1>
    <h3><b>Vegane Premium Milch</b></h3>
    <p>Wir bieten rein Pflanzliche Milch aus ausgewählten, hochwertigen und unbehandelten Zutaten. Unsere Milch wird aus verschiedensten
      pflanzlichen Inhaltsstoffen mit viel Liebe, Geduld und unter humanen Arbeitsumständen hergstellt. Erleben Sie den Genuss von verschiedensten Milch-Nuss-Geschmäckern
      und das ganz ohne jeglichen Schaden an Lebewesen.</p>
  </div>

  <div class="album py-5 bg-light">
    <div class="col-lg-4 col-sm-6" *ngFor="let product of products; let i = index">
      <div class="thumbnail">
        <img class="img" [src]="product.image">
        <h3>{{product.title}}</h3>
        <p class="product-description">{{product.cost}}</p>
        <button type="button" class="btn btn-success add-chart" (click)="chartCount()">In den Warenkorb   <i class="fas fa-cart-plus"></i></button>
      </div>
    </div>
  </div>
</div>
