body {
  padding-top: 70px;
}

.navbar-inverse {
  background: #556B2F;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

#chart-button {
  background-color: transparent;
  color: white;
}

.add-chart {
  float: right;
}


/*  Dark Blue: #2c3e50
    Light Gray: #ecf0f1

    https://fontawesome.com/icons/camera-retro?style=solid

    https://unsplash.com/
 */
