<div class="container">
  <h2>Warenkorb</h2>
  <div class="jumbotron">
    <table>
      <tr>
      <th>Artikel</th>
      <th>Einzelpreis</th>
      </tr>
      <tr *ngFor="let product of products; let i = index">
        <td>
          <div><img class="img" [src]="'http://localhost:3000/' + product.imgpath"><p class="chart-products">{{product.title}}</p></div>
        </td>
        <td>{{product.price}}</td>
      </tr>
      <tr>
        <td></td>
        <td id="sum-price">{{totalPrice}}</td>
      </tr>
    </table>
  </div>
  <button id="checkoutButton" type="button" class="btn btn-success" routerLink="/checkout" routerLinkActive="active">Zur Kasse</button>
</div>
<router-outlet></router-outlet>
