<div class="container">
  <div class="jumbotron">
    <h2 style="font-weight: bold">Kasse</h2>
    <div class="example-container">
      <form [formGroup]="options">
        <h3 style="font-weight: bold">Versand</h3>
        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
          <input matInput placeholder="Vorname" required id="firstname">
        </mat-form-field>
        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
          <input matInput placeholder="Nachname" required id="lastname">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
          <input matInput placeholder="Stadt" required id="city">
        </mat-form-field>
        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
          <input matInput placeholder="PLZ" required id="zip">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
          <input matInput placeholder="Straße" required id="street">
        </mat-form-field>
        <mat-form-field appearance="fill" class="paying"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
          <input matInput placeholder="Hausnummer" required id="housenumber">
        </mat-form-field>
        <h3 style="font-weight: bold">Bezahlung</h3>
        <div>
          <h4 class="paying">Bezahlmethode: Vorkasse</h4>
        </div>
      </form>
      <button class="btn btn-success" (click)="purchaseOrder($event)">Jetzt Bezahlen
      </button>
    </div>
  </div>
</div>
